div[data-lazy-src] {
	overflow: hidden;
	position: relative;
}

div[data-lazy-src].loading {
}

div[data-lazy-src] > div {
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	opacity: 0;
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .3s;
}

div[data-lazy-src].loaded > div {
	opacity: 1;
}